altgraph==0.17
astroid==2.4.2
chardet==3.0.4
colorama==0.4.3
future==0.18.2
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
pefile==2019.4.18
Pillow==7.2.0
Pillow-PIL==0.1.dev0
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.7
pylint==2.5.3
pywin32-ctypes==0.2.0
six==1.15.0
toml==0.10.1
wrapt==1.12.1
xlrd==1.2.0
